@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Purchase

<h2>Checkout</h2>
<p>Please enter your details</p>

<form method="post" asp-action="Checkout">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h4>Ship to:</h4>
    <div class="form-group">
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" class="form-control" />

        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <h4>Address</h4>
    <div class="form-group">
        <label asp-for="Address">Address:</label>
        <input asp-for="Address" class="form-control" />

        <label asp-for="City">City:</label>
        <input asp-for="City" class="form-control" />

        <label asp-for="State">State:</label>
        <input asp-for="State" class="form-control" />

        <label asp-for="Zip">Zip:</label>
        <input asp-for="Zip" class="form-control" />

        <label asp-for="Country">Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Complete Purchase</button>
    </div>
    
    <br /><br /><br />
</form>