@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<div class="">
    <div class="card">
        @foreach (BookModel book in Model.Books)
        {
            <partial name="BookSummary" model="book" />
        }
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Here are the two things I added to my page:<br />
                    <ol>
                        <li>I make use of bootstrap icons as you can see in the "Go Back" button after you have added something to the cart</li>
                        <li>I make use of this modal included in the most recent version of bootstrap to make sure that people want to add something to the cart</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center m-5">
        <div page-info="@Model.pageInfo" page-action="Index" class="btn-group" page-class="btn" page-classes-enabled="true" page-selected="btn-primary" page-normal="btn-outline-dark"></div>
    </div>
</div>
