@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<div class="text-center">
    @foreach (BookModel book in Model.Books)
    {
        <h4>@book.Title</h4>
    }
   
    <div page-info="@Model.pageInfo" page-action="Index"></div>

</div>
